certifi==2017.4.17
chardet==3.0.4
Django==1.11.3
djangorestframework==3.6.3
gunicorn==19.7.1
idna==2.5
oauthlib==2.0.2
PyJWT==1.5.2
python-openid==2.2.5
pytz==2017.2
requests==2.18.1
requests-oauthlib==0.8.0
six==1.10.0
social-auth-app-django==1.2.0
social-auth-core==1.4.0
urllib3==1.26.5
whitenoise==3.3.0

